* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    background-image: url("./images/jenn-wood-1HMl4gY9bl4-unsplash.jpg");
    background-position: center center;
    background-size: cover;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px 50px;
    font-weight: 400;
    font-size: 45px;
    background-color: rgba(100, 100, 196, 0.6);
    height: 500px;
    width: 900px;
}

.left-box {
    display: flex;
    padding: 20px 10px;
    font-weight: 400;
}

.timer {
    padding-right: 20px;
}

.timer span {
    font-weight: 100;
    font-size: 20px;
}

.clock {
    position: absolute;
    margin-top: 116px;
    width: 300px;
    height: 350px;
    background-color: white;
    border: 10px solid rgb(19, 6, 136);
    border-radius: 50%;
}

.clock-center {
    position: absolute;
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 160px;
    left: 134px;
}

.pointer {
    color: black;
    font-size: 29px;
    font-weight: 70px;
    position: absolute;
}

.hour1 {
    top: 23px;
    left: 205px;
}

.hour2 {
    top: 80px;
    left: 248px;
}

.hour3 {
    top: 150px;
    left: 265px;
}

.hour4 {
    top: 220px;
    left: 248px;
}

.hour5 {
    top: 270px;
    left: 205px;
}

.hour6 {
    top: 298px;
    left: 130px;
}

.hour7 {
    top: 270px;
    left: 62px;
}

.hour8 {
    top: 220px;
    left: 19px;
}

.hour9 {
    top: 150px;
    left: 9px;
}

.hour10 {
    top: 80px;
    left: 18px;
}

.hour11 {
    top: 23px;
    left: 62px;
}

.hour12 {
    top: 0px;
    left: 126px;
}

.arm-hour {
    position: absolute;
    width: 5px;
    height: 128px;
    background-color: black;
    top: 33px;
    left: 139px;
}

.arrow-hour {
    font-size: 30px;
    font-weight: 100;
    color: black;
    transform: rotate(180deg);
    position: absolute;
    top: -12px;
    left: -8px;
}

.arm-minutes {
    position: absolute;
    width: 3px;
    height: 100px;
    background-color: black;
    top: 170px;
    left: 139px;
}

.arm-seconds {
    position: absolute;
    width: 110px;
    height: 2px;
    background-color: black;
    top: 166px;
    left: 38px;
}

.arrow-min {
    font-size: 30px;
    font-weight: 100;
    color: black;
    transform: rotate(0deg);
    position: absolute;
    top: 79px;
    left: -10px;
}

.right-box {
    display: flex;
    padding: 20px 3-0px;
    font-size: 20px;
    font-weight: 200;
    margin: 0 -50px;
}

.date {
    padding-right: 20px;
}

.date span {
     font-weight: 100;
    font-size: 20px;
}

.calender {
    position: relative;
    font-size: 30px;
    font-weight: normal;
    margin: -20px;
}

.month {
    display: flex;
    margin: 30px;
}

table {
    font-size: 25px;
    font-weight: normal;
    margin: 15px 15px;
    border: 3px solid darkblue;
}

.start-countdown {
    position: absolute;
    padding: 10px 10px;
    background-color: darkblue;
    top: 530px;
    left: 500px;
}